body {
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F3E9F1;  
}
.headerlogo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header a {
    text-decoration: none;
    font-size: 1.4em;  
}
.logo {
    width: 10em;
    height: auto;
    padding-left: 10px;
    margin-right: 50px;
}
.fas {
    padding-right: 10px;
    padding-left: 10px;
}
.allCameras {
    display: flex;
    justify-content: center;

}
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.products {
    border: black 1px solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #f2f2f2, 0px 0px 10px #a9a9a9;    
}
.cameraimage {
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    padding: 5px 5px 0 5px;

}
.containercamera {
    display: flex;
    flex-flow: wrap ;
}
.products {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    align-items: center;
}
.products h2 {
    margin: 5px;
}
.detailsbutton {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background:#F3E9F1;
    box-shadow: 0 0.5rem 0.5rem #A9A9A9;
    transition: ease-in-out 0.5s;
}
.detailsbutton:hover {
    filter: brightness(120%);
    box-shadow: 0 0 10px #000, 0 0 30px #777 ;
}
.detailsbutton a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.allCameras {
    width: 100%;
}
.allCameras h1 {
    justify-content: center;
}
footer {
    display: flex;
    background-color:#262626 ;
    margin-top: 50px;
}
footer ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type:none;
}
.footerlinks a {
    text-decoration: none;
    color: white;  
}

/* Page Product*/
.productcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cameraphoto {
    width: 50%;
    
}
.cameraphoto >* {
    border-radius: 20px;
    
}
.cameraimagep{
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 5px;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #f2f2f2, 0px 0px 10px #a9a9a9; 
}
.productsheet {
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #f2f2f2, 0px 0px 10px #a9a9a9;
}
.formproduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: space-evenly;
}
.formproduct .text{
    font-size: 1em;
    margin-bottom: 5px;
}
.formquantity {
    width: 100%;
}
.formlenses {
    width: 100%;
}
.selectionprice {
    font-size: 1.3em;
    font-weight: bold;
}

#productAmount{
    margin-left: 30px;
    width: 15%;
    background-color: #fcfafc;
    padding: 5px;
    border: 1px solid #F3E9F1;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #c2bac0 inset;
}
.lensSelect{
    margin-left: 30px;
}

/* Page panier */
.card-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: black 1px solid;
    border-radius: 20px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 10px #f2f2f2, 0px 0px 10px #a9a9a9;  
    margin-bottom: 20px;
}
.cartcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imageCard {
    width: 10em;
    border-radius: 20px;
    margin: 2px 0 0 8px;
}
.cardtext{
    margin: 0 50px 0 20px;
}
.buttonx {
    margin-left: 20px;
    margin-right: 20px;
}
.cart-total{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 1.3em;
}
/*Formulaire de contact*/
legend {
    font-size: large;
    font-weight: bold;
    color: tomato;
}
fieldset {
    border: 1px dashed gray;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
form {
    width: 80%;
    padding: 5px;
}
label {
    width: 20%;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-size: small;
    margin-top: 15px;
}
label+input {
    display: inline-block;
    width: 55%;
    background-color:#fcfafc;
    padding: 5px;
    border: 1px solid #F3E9F1;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #c2bac0 inset;
}
.form-group-validation {
    display: flex;
    justify-content: center;
}
.textlabel {
    margin-right: 50px;
}

/*Page confirmation de commande*/

.textcomm {
    text-align: center;
}
/*---Section Responsive---*/
@media screen and (max-width: 767px) {
/*Index*/
header {
    flex-direction: column;
    justify-content: center;
}
.allCameras h1 {
    text-align: center;
}
.products {
    width: 80%;
}
footer ul {
    flex-direction: column;   
}
/*Product*/
.cameraphoto {
    width: 80%;
}
.productsheet {
    width: 80%;
}
/*Panier*/
#content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-cart {
    width: 80%;
}
.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardimage {
    text-align: center;
    margin: auto;
    display: flex;
}
.imageCard {
    width: 95%;
    padding-top: 5px;
    margin: auto;
}
label {
    display: flex;
    text-align: center;
}
label+input {
    display: flex;
    width: 95%;
}
.textlabel{
    width: 80%;
}
}